language: java
jdk:
- oraclejdk8
services:
- postgresql
env:
- JDBC_DATABASE_URL=jdbc:postgresql:postgres
deploy:
  provider: heroku
  api_key:
    secure: ePXyJ21SN6NwlkIJDHZviLU5VsGuPV3m1JAOCE3nypBL2HWF4/yRi/DlNwK7FOTVl2k67npKAZFSB6u3KEbEtuF0+s7FzXG7XnItpstmPoLm+vzaCbV8UUoQCKZdZwxNBe3XzommwqEP7VS/plGARSwvF5/kNJkbYQLHvAmfITH8e+WunXHxfuyWq8u3KK51+Hh9k8DnTbIZgCvb0BQ9vVyBxIo2Krem2SPnnJE9+v9Su6BsEPe4DDDnKvc4ZMV1esIgP0RBxHrwBwogry/XON7tJRrkTVx3usPSd2C7Tjfma6ytXlhnyIXCHSK2/sMDBNsqKK/R9t0lD0CxpaDCpB66/Qv83lMKW0x86oyPVnzTonQEg301rla9/vG0Ye20NbIOZuERK6HjYv/Hri5use6+jGHqJwP5XSenYCqoGY4pUegE2v9CPAZO5G9d+uKUvbob1JH8lKHJ4/q5KUoFnRH/2iV7XFkNtdQ5peCkoEHrSpeRcr844+AI9djH7HHXyTXo/JXeIE9/IHYqmtGHOBELuhM1W+0chCYwhEZUqzP7xaLg7OvgVkqUIcTEDqDcX3q7U3p+KM8uPIZKpEbVGJW2Sq3r10f3YTHValCUtVAXe9Q6tGM8VR1SlqLkzgrEo0gqbd/dKXLsdG1GAztMZnykFSb7n0XejLurh83N2Lg=
  app: powerful-fortress-97395
  on:
    repo: jgke/tagger
script: 'mvn cobertura:cobertura | grep -v "\\[DEBUG\\]"'
after_success:
  - bash <(curl -s https://codecov.io/bash)
