<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <nav class="navbar navbar-default" th:fragment="header">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">Tagger</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/}">Front page</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" th:action="@{/search}" th:method="POST" name="tagsearchform">
                        <div class="form-group">
                            <input type="text" class="form-control" name="tagstring" placeholder="cat !dog" th:value="${searchquery}"/>
                        </div>
                        <button type="submit" class="btn btn-default" name="searchbutton">Search!</button>
                    </form>
                </div>
            </div>
        </nav>
    </body>
</html>
