<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <header th:fragment="header">
            <a th:href="@{/sources}">Front page</a>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">Log in</a>
                <a th:href="@{/register}">Register</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" name="logoutform" th:method="POST">
                    <input type="submit" name="logoutbutton" value="Log out"/>
                </form>
            </div>
        </header>

    </body>
</html>
