<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header th:replace="fragments/header :: header"></header>

        <div class="container">
            <div class="row">

                <div class="alert alert-danger" role="alert" th:if="${loginError}">
                    Wrong username or password.
                    <a th:href="@{/register}">Not registered?</a>
                </div>

                <div class="alert alert-success" role="alert" th:if="${registerSuccess}">
                    Nice going! You can now log in.
                </div>

                <form class="form-horizontal" th:action="@{/authenticate}" name="loginform" th:method="POST">
                    <div class="form-group col-sm-12">
                        <label for="usernamefield" class="col-sm-3 control-label">Username</label>
                        <div class="col-sm-9">
                            <input class="form-control col-sm-9" type="text" name="username" id="usernamefield"
                                   placeholder="username"></input>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="passwordfield" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                            <input class="form-control col-sm-9" type="password" name="password" id="passwordfield"
                                   placeholder="password"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-default" name="loginbutton">Log in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
