<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Tagger</title>
    </head>
    <body>

        <h1>Latest sources</h1>

        <ul>
            <li th:each="source: ${sources}">
                <a th:href="@{/sources/{id}(id=${source.id})}" th:text="${source.title}"></a>
            </li>
        </ul>

        <form th:action="@{/sources}" th:method="POST">
            <p>Title: <input type="text" name="title"/></p>
            <p>URL: <input type="text" name="url" /></p>
            <select name="sourcetype">
                <option th:each="type: ${types}" th:value="${type.id}"
                        th:text="${type.value}" >Options</option>
            </select><br/>
            <input type="submit" value="Add!"/>
        </form>

        <br />
        Search:

        <form th:action="@{/search}" th:method="POST">
            <p>Tag <input type="text" name="tagstring"/></p>
            <input type="submit" value="Search!"/>
        </form>

    </body>
</html>
