<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${source.title}"></title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header th:replace="fragments/header :: header"></header>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div th:switch="${type}">
                        <!-- does inlining stuff here cause security vulnerabilities (eg. XSS)? -->
                        <div th:case="'image'"><img class="img-responsive" th:src="${source.url}" th:alt="${source.title}"/></div>
                        <div th:case="'video'"><video th:src="${source.url}" autoplay="autoplay" preload="auto" loop="loop" controls="controls" /></div>
                        <div th:case="'sound'">Sound</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well col-sm-12">
                        <div>
                            <h3>
                                <span th:text="${source.title}" th:remove="tag" /> <br />
                                <small th:text="${'Submitter: ' + source.person.username}" />
                            </h3>

                            <div class="col-md-6">
                                <form class="form-inline">
                                    <a class="form-control btn btn-default" th:href="${source.url}">Direct link</a>
                                </form>
                            </div>

                            <div class="col-md-6">
                                <form class="form-inline" th:action="@{/sources/{id}(id=${source.id})}" name="deleteform" th:method="DELETE">
                                    <input class="form-control btn btn-danger" type="submit" name="deletebutton" value="Delete source"/>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <p>Tags:</p>
                        <ul>
                            <li th:each="tag: ${source.tags}"><span th:text="${tag.value}">tag</span></li>
                        </ul>
                    </div>
                    <form class="form-horizontal" th:action="@{/sources/{id}/tags(id=${source.id})}" name="tagform" th:method="POST">
                        <div class="form-group">
                            <label for="tagfield" class="col-sm-12">Add a new tag</label>
                            <div class="col-sm-12">
                                <input class="form-control" type="text" name="tagname"
                                       placeholder="tag_name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input class="btn btn-default" type="submit" name="addbutton" value="Add!"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br/>

            <dl>
                <dt th:each="comment: ${source.comments}" th:remove="tag">
                    <dt th:text="${comment.person.username}" />
                    <dd th:text="${comment.comment}" />
                </dt>
            </dl>

            <form class="form-horizontal" th:action="@{/sources/{id}/comments(id=${source.id})}" name="commentform" th:method="POST">
                <div class="form-group">
                    <label for="commentfield" class="col-sm-12">Comment</label>
                    <textarea class="form-control col-sm-12" rows="3" name="body" id="commentfield"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Add comment</button>
                </div>
            </form>
        </div>

        <script th:src="@{/js/jquery.min.js}" />
        <script th:src="@{/js/bootstrap.min.js}" />
    </body>
</html>
