<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${title}"></title>
    </head>
    <body>

        <h1 th:text="${title}"></h1>
        <div th:switch="${type}">
            <div th:case="'image'">Image</div>
            <div th:case="'html'">Html</div>
            <div th:case="'video'">Video</div>
            <div th:case="'sound'">Sound</div>
        </div>
        <a th:href="${url}">Link</a>

        Tags:
        <ul>
            <li th:each="tag: ${tags}"><span th:text="${tag.value}">tag</span></li>
        </ul>
        <form th:action="@{/sources/{id}/tags(id=${id})}" th:method="POST">
            <p>Tag name: <input type="text" name="tagname"/></p>
            <input type="submit" value="Add!"/>
        </form>
    </body>
</html>
